@import '~@fluentui/react/dist/sass/References.scss';

.spfxCmFilters {
  overflow: hidden;
  color: "[theme:bodyText, default: #323130]";
  color: var(--bodyText);
  &.teams {
    font-family: $ms-font-family-fallbacks;
  }

  .filtersHeader {
    display: flex;
    align-items: center;
    gap: 10px;

    h2 {
      font-size: 20px;
      font-weight: 600;
      display: inline-block;
    }

    div:last-child {
      float: right;
    }
  }

  .filterRow {
    gap: 20px;
    flex-flow: row;
  }

  .filter {
    min-width: 200px;
    width: 100%;
  }

  .label {
    padding-bottom: 6px;

    b {
      font-weight: 500;
      font-size: 14px;
    }
  }

  .chipContainer {
    padding-top: 3px;

    h3 {
      margin: 10px 0;
      font-weight: 500;
      font-size: 14px;
    }

    .chip {
      display: inline-block;
      width: fit-content;
      padding: 0 0 0 10px;
      margin: 2px 2px;
      background-color: #0078d4;
      border-radius: 20px;

      span {
        color: white;
        pointer-events: none;
        font-size: 12px;
      }

      button {
        background: transparent;
  
        span {
          font-size: 8px;
        }
      }
  
      button:hover {
        background: transparent;
      }
    }
  }

  .controls {
    justify-content: flex-end;
    flex-flow: row;
    gap: 20px;
    margin-top: 10px;
  }

  @media (max-width: 900px) {
    .filterRow {
      gap: 10px;
      flex-flow: column;
    }

    .controls {
      margin-top: 20px;
    }
  }

  @media (max-width: 550px) {
    .controls {
      flex-flow: column;
    }
  }
}